@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Syne:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f4f4f6;
    --bg-tertiary: #eaeaea;
    --text-primary: #000000;
    --text-secondary: #222222;
    --text-tertiary: #555555;
    --border-color: #e5e5e7;
  }

  .dark {
    --bg-primary: #09090b;
    --bg-secondary: #121214;
    --bg-tertiary: #1c1c1f;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-tertiary: #94a3b8;
    --border-color: #222225;
  }

  body {
    @apply font-sans antialiased selection:bg-accent selection:text-white transition-colors duration-300;
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }

  html {
    scroll-behavior: smooth;
  }
}